* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fafafa;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.blog, .experience, .goal, .hobbies {
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

.intro {
 display: flex;
 grid-column: 1 / 4;
}

.img-div {
  width: 300px;
}

.intro img {
  width: 100%;
}

/* goal section */

.goal {
  grid-column: 1 / 2;
  padding: 10px;
}

/* blog section */

.blog {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  
}

.blog p {
  max-width: 500px;
}

.blog-head {
  display: flex;
}

.blog-head img {
  width: 600px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* hobbies */
.hobbies {
  grid-row: 3 / 6;
}

.hobbies h3 {
  margin: 10px ;
}

.hobbies img {
  width: 100%;
  border-radius: 10px;
}

/* experience */

.experiences {
  grid-row: 4 / 5;  
}

.experiences img {
  width: 100px;
}

.experience {
  display: flex;
  justify-content: space-between;
}