* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fafafa;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.intro, .blog, .experience, .goal, .hobbies, .experiences, .education-div, .skills {
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
}

.intro {
 display: flex;
 grid-column: 1 / 4;
}

.img-div {
  width: 300px;
}

.intro img {
  width: 100%;
}

/* goal section */

.goal {
  grid-column: 1 / 2;
  padding: 10px;
}

/* blog section */

.blog {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  
}

.blog p {
  max-width: 500px;
}

.blog-head {
  display: flex;
}

.blog-head img {
  width: 600px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* hobbies */
.hobbies {
  grid-row: 3 / 5;
}

.hobbies h3 {
  margin: 10px ;
}

.hobbies div {
  margin-bottom: 30px;
}

.hobbies img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

/* experience */
.experiences {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.education-div {
  grid-row: 5 / 7;
  grid-column: 1 / 3;
}

.experiences img, .education img {
  width: 100px;
}

.experience, .education {
  display: flex;
  align-items: flex-start;
  margin: 20px;
}

.experience div, .education {
  max-width: 600px;
  margin-left: 40px;
}

.experience span {
  display: block;
  font-style: italic;
  text-transform: uppercase;
}

/* skills */
.skills {
  grid-row: 5 / 7;
}

.skills h3 {
  text-transform: uppercase;
}

.skills div{
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.skills span {
  text-transform: uppercase;
  margin-right: auto;
}

.skills input {
  width: 200px;
}